node_modules
npm-debug.log*

.env
.env.*
!.env.example

coverage
logs
*.log

.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
README.md

.prettierrc
.eslintrc*
postman/
*.postman_collection.json